.sessions,
.post {
  list-style: none;
  padding: 0.5em;
}

.posts {
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

.post {
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}
.post:last-child {
  border: 0px;
  padding-bottom: 0;
}
.post:before {
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.time {
  color: rgba(255, 255, 255, 0.582);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.title {
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 0.4rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.title:hover {
  color: rgba(255, 255, 255, 0.705);
}

.nav {
  /* background-color: red; */
  position: fixed;
  top: 0;
  padding: 0.5em;
}
