@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@100;300;400;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #0f1114;
  transition: all 0.2s ease;
}
.react-toggle--checked .react-toggle-track {
  background-color: #0f1114;
}

.react-toggle-track-check {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 5px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 5px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0px 0px 2px 3px rgb(143, 89, 179);
}

.react-toggle:active .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px rgb(143, 89, 179);
}

footer a,
article a {
  text-decoration: underline;
}

.blog-foot a {
  text-decoration: underline;
}

.content h2 {
  font-weight: 900;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  line-height: 2rem;
}
.main-nav {
  padding: 2rem 0;
}

.content p {
  margin-bottom: 1.2rem;
  font: 100%/1.75 'Merriweather', 'Georgia', serif;
  font-weight: 100;
}
main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .sp-container {
    max-width: 60%;
    margin: auto;
  }
}
